{% extends "base.html" %}

{% block content %}
<div id="wrapper" >
    <title>These are my graph from Airbnb Projet:</title>
    <h1>These are my graph from Airbnb Projet:</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor accumsan semper. In vehicula mauris a turpis
        porta, vitae consectetur nisl auctor. Maecenas tincidunt nisl odio, ultricies fermentum orci pulvinar vitae. In
        suscipit, urna vitae molestie pulvinar, lacus magna dapibus arcu, ac porttitor enim tellus sit amet est. Aliquam
        suscipit tellus enim, non lobortis arcu tincidunt sed. Nulla facilisi. Pellentesque tincidunt vestibulum diam,
        in pulvinar enim lobortis non. Maecenas sit amet porttitor urna. Vestibulum nisi dui, hendrerit a velit quis,
        pretium ultricies neque. Aliquam ornare dui nisi, in feugiat lorem pretium sit amet. Vestibulum lobortis metus
        a lacus iaculis rhoncus. Etiam id lacus tempus leo semper blandit. In sit amet quam vel tortor congue auctor ac
        sit amet elit. Vivamus ornare tellus et quam posuere, vel maximus leo fermentum.

In hendrerit elementum condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        Curae; Curabitur viverra libero id sapien tincidunt, id tincidunt ante vehicula. Donec non enim nisi. Donec
        quis enim feugiat, pretium mi eget, convallis orci. Nullam accumsan mauris lectus, vel mattis mauris bibendum
        nec. Sed non rutrum orci. Duis efficitur mauris nisl, eget hendrerit nisl dictum in.
    </p>
      <img src="static/2.1_Neighbourhoods.png" width="600" />
<hr/>
<div style="align:center; vertical-align:middle; padding: auto; margin: auto;">
    <h1>These are my map from Airbnb Projet:</h1>
    <iframe frameborder='0' noresize='noresize' style='display:block; width: 50%; height:50%; margin: 0 auto; border: 0;'
            src="static/map1.html" frameborder="0"></iframe>
</div>
    </div>
    {% endblock %}


