<!DOCTYPE html>
<html>
<head>
  <style>
    .vega-actions a {
        margin-right: 12px;
        color: #757575;
        font-weight: normal;
        font-size: 13px;
    }
    .error {
        color: red;
    }
  </style>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@3.3.0"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@4"></script>
</head>
<body>
  <div id="vis"></div>
  <script>
      var spec = {"config": {"view": {"width": 400, "height": 300}, "mark": {"tooltip": null}}, "data": {"name": "data-5ccb53adbcbb5c8c5bf3558f8f66635f"}, "mark": {"type": "bar", "opacity": 0.2}, "encoding": {"color": {"type": "nominal", "field": "Q1"}, "x": {"type": "nominal", "field": "Q1"}, "y": {"type": "quantitative", "field": "gender"}}, "$schema": "https://vega.github.io/schema/vega-lite/v3.3.0.json", "datasets": {"data-5ccb53adbcbb5c8c5bf3558f8f66635f": [{"Q1": "Female", "gender": 4010}, {"Q1": "Male", "gender": 19430}, {"Q1": "Prefer not to say", "gender": 340}, {"Q1": "Prefer to self-describe", "gender": 79}]}};
      var embedOpt = {"mode": "vega-lite"};

      function showError(el, error){
          el.innerHTML = ('<div class="error" style="color:red;">'
                          + '<p>JavaScript Error: ' + error.message + '</p>'
                          + "<p>This usually means there's a typo in your chart specification. "
                          + "See the javascript console for the full traceback.</p>"
                          + '</div>');
          throw error;
      }
      const el = document.getElementById('vis');
      vegaEmbed("#vis", spec, embedOpt)
        .catch(error => showError(el, error));

  </script>
</body>
</html>